.darkCarouselCard {
	background-color: var(--darkModeCaroDivBG) !important;
	color: var(--darkModeText) !important;
}
.lightCarouselCard {
	background-color: var(--lightModeBG) !important;
	color: var(--lightModeText) !important;
}

.lightCarouselCard,
.darkCarouselCard {
	max-width: 22.5rem;
	min-height: 37rem !important; /* ez lehet nem kell a szövegektől függ ha 10 sor kijön mindegyiknél akkor nem kell */
	/* mivel kicsit bugos valamiért néha, lesz egy keret a cardok körül */
	box-shadow: 0;
	transition: box-shadow 0.3s, scale 0.3s;
}

.darkCarouselCard:hover {
	box-shadow: var(--darkModeCaroDivShadow) 0px 0px 15px 10px;
}
.lightCarouselCard:hover {
	box-shadow: var(--lightModeCaroDivShadow) 0px 0px 15px 10px;
}

.lightCarouselCard:hover,
.darkCarouselCard:hover {
	scale: 105%;
}

.cardImgTop {
	width: 100%;
	height: 15rem;
}
