/* Ezek a carousel kártyák háttereinek színei és boxshadowja hovernél és effektje */
/* .darkCarodiv {
	background-color: var(--darkModeCaroDivBG);
}
.lightCarodiv {
	background-color: var(--lightModeCaroDivBG);
}

.darkCarodiv,
.lightCarodiv {
	width: 25%;
	min-height: 30rem;
	margin-left: 30rem;
	box-shadow: 0;
	transition: box-shadow 0.3s, scale 0.3s;
	border-radius: 0.5rem;
}

.darkCarodiv:hover {
	box-shadow: var(--darkModeCaroDivShadow) 0px 0px 15px 10px;
}
.lightCarodiv:hover {
	box-shadow: var(--lightModeCaroDivShadow) 0px 0px 15px 10px;
}

.darkCarodiv:hover,
.lightCarodiv:hover {
	scale: 105%;
} */
