/* Majd a body-t és a span-t le kell váltani osztályokra és kell belőlük csinálni darkot és lightot, majd pedig azt váltogatni */
.darkBody {
	background-color: var(--darkModeBG);
	color: var(--darkModeText) !important;
	transition: all 0.5s;
}
.lightBody {
	background-color: var(--lightModeBG);
	color: var(--lightModeText) !important;
	transition: all 0.5s;
}

.darkBody a,
.lightBody a {
	text-decoration: none;
}

.darkBody a {
	color: var(--darkModeText);
}
.lightBody a {
	color: var(--lightModeText);
}
