@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--darkModeBG: rgb(16, 16, 16);
	--darkModeText: rgb(165, 165, 166);
	--darkModeTextOnHover: white;
	--darkModeCaroDivBG: rgb(30, 29, 28);
	--darkModeCaroDivShadow: rgb(36, 36, 36);

	--lightModeBG: white;
	--lightModeText: gray;
	--lighModeTextOnHover: black;
	--lightModeCaroDivBG: rgba(0, 0, 0, 0.02);
	--lightModeCaroDivShadow: rgba(0, 0, 0, 0.06);
}
body {
	font-family: "Work Sans", sans-serif !important;
	font-size: 1.1rem !important;
}
@media only screen and (max-width: 992px) {
	body {
		font-size: 1rem !important;
	}
}
